sudo: required

language: node_js
node_js: '10'
cache: npm

notifications:
  email:
    recipients:
      - formsg@data.gov.sg
    on_success: always
    on_failure: always

before_script:
  - npm install

script:
  - npm test
